[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "miRNAtap"]
	path = miRNAtap
	url = https://git.bioconductor.org/packages/miRNAtap
